.card-content {
    background: #ffffff;
    /*color:#838f9b;*/
    border-left: 1px solid #eaeeef;
    border-right: 1px solid #eaeeef;
    border-bottom: 1px solid #eaeeef;
}

.card-header {
    color: #525f72;
    padding: 5px;
    background-color: #eaeeef;
}